* {
    background-color: rgb(254, 254, 254);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

img {
    border-radius: 100%;
    box-shadow: inset;
}

.tit {
    text-align: center;
    text-decoration: dotted;
}

h2,
p {
    text-align: justify;
    margin-top: 4px;
    padding: 2px;
}